<navigation-header-temp></navigation-header-temp>

<!-- <recipe-list></recipe-list> -->

<!-- <table-temp tableTitle="Lebensmittelübersicht" [tableColoumns]="tableColoumns" [tableData]="tableData"></table-temp> -->

<!-- <card-temp cardTitle="Gericht" cardSubtitle="Frühstück"
  imageURL="https://material.angular.io/assets/img/examples/shiba2.jpg"
  ingredients="Zutat 1, Zutat 2, Zutat 3, Zutat 4, Zutat 5, Zutat 6" [rating]="3.8" [minutes]="5" [difficulty]="1"
  [purinvalue]="98" [readOnly]="bool"></card-temp> -->

<router-outlet />